<div class="searchList">
    <div class="col-lg-12" ng-show="isLoading">
        <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    </div>
    <div md-whiteframe="3" class='tabs col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12' ng-hide="isLoading">
        <div layout="column">
            <div layout="row">
                <div flex="33">
                    <img ng-src="{{game.Image}}" class="md-card-image" alt="game pic">
                </div>
                <div flex="66">
                    <h1>{{game.Title}}</h1>
                    <md-button class="md-raised md-primary" ng-click="showDownload($event)"  flex="40">
                                Download </md-button>
                </div>
            </div>
            <div>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Description">
                            <md-content class="md-padding">
                                    <p>{{game.FrDescription}}</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="Images">
                                <div class="img_gal" ng-repeat="i in game.images">
                                    <img class="col-lg-6 col-lg-offset-3" ng-src="{{i}}">
                                </div>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>
