<!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-1">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                <img src="{{media}}/stock_img/main_page_screens/android1.jpg" alt="Los Angeles" style="width:100%;">
                                </div>

                                <div class="item">
                                <img src="{{media}}/stock_img/main_page_screens/android2.jpg" alt="Chicago" style="width:100%;">
                                </div>

                                <div class="item">
                                <img src="{{media}}/stock_img/main_page_screens/android3.jpg" alt="New york" style="width:100%;">
                                </div>
                            </div>
                            </div>
                </div>
                    <div class="facebook_con row col-lg-3 col-lg-offset-1 hidden-sm hidden-xs">
                        <div class="fb-page" data-href="https://www.facebook.com/MondeDuAPK/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MondeDuAPK/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MondeDuAPK/">Monde du APK</a></blockquote></div>
                        <!--<div class="fb-page" data-href="https://www.facebook.com/MondeDuAPK/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MondeDuAPK/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MondeDuAPK/">Monde du APK</a></blockquote></div>-->
                    </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Top 15 Game Apps</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="TopApps">
                <div class="row">
                    <div class="app_card portfolio-item" ng-repeat="i in TopGames">
                        <a href="/app{{i.DetailsLink}}" class="portfolio-link" data-toggle="modal">
                            <div class="row">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img ng-src="{{i.Image}}"  class="img-responsive" alt="{{i.Title}}">
                            </div>
                            <!--
                            <div class="row">
                                <span>{{i.Title}}</span>
                            </div>
                            -->
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>


 <section class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Top 15 Apps</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="TopApps">
                <div class="row">
                    <div class="app_card portfolio-item" ng-repeat="i in TopApps">
                        <a href="/app{{i.DetailsLink}}" class="portfolio-link" data-toggle="modal">
                            <div class="row">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img ng-src="{{i.Image}}" class="img-responsive" alt="{{i.Title}}">
                            </div>
                            <!--
                            <div class="row">
                                <span>{{i.Title}}</span>
                            </div>
                            -->
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Votre lieu de téléchargement de jeux et d'applications avant toute autre personne. Vous pouvez obtenir tout ce que vous voulez ici, y compris les jeux payants et les applications payantes GRATUITEMENT.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Nous vous proposons les jeux et les applications les plus modernes pour que vous puissiez les appréhender à votre temps libre.</p>
                </div>

            </div>
        </div>
    </section>

